# --- Network & Binding ---
Port 22
AddressFamily inet
ListenAddress 0.0.0.0

# --- Host Keys ---
HostKey /etc/ssh/ssh_host_ed25519_key

# --- Cryptography (Modern, Post-Quantum Ready, AEAD) ---
KexAlgorithms mlkem768x25519-sha256,sntrup761x25519-sha512@openssh.com,curve25519-sha256,curve25519-sha256@libssh.org
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com
HostKeyAlgorithms ssh-ed25519

# --- Logging & Auditing ---
SyslogFacility AUTH
LogLevel VERBOSE

# --- Authentication & Access Control ---
PermitRootLogin no
StrictModes yes
MaxAuthTries 3
MaxSessions 2
LoginGraceTime 20
PermitEmptyPasswords no
PasswordAuthentication no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile %h/.ssh/authorized_keys
PermitUserEnvironment no
IgnoreRhosts yes
HostbasedAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no

AllowGroups ssh-users

# --- Forwarding & Tunneling Lockdown ---
# Set to 'yes' / 'local' only if this host is a bastion / jump host
X11Forwarding no
AllowAgentForwarding no
AllowTcpForwarding no
PermitTunnel no
GatewayPorts no

# --- Connection & DoS Management ---
MaxStartups 10:30:60
ClientAliveInterval 300
ClientAliveCountMax 2
TCPKeepAlive no

# --- Environment & Misc ---
UsePAM yes
AcceptEnv LANG LC_*
PrintMotd no
PrintLastLog no
Banner /etc/issue.net
